
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#120020;
font-family:Arial, sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.container{
width:350px;
background:#4c1470;
padding:20px;
border-radius:25px;
text-align:center;
box-shadow:0 0 20px rgba(255,0,255,0.4);
}

.logo h1{
background:#67b7ff;
padding:12px;
border-radius:20px;
color:#001f3f;
margin-bottom:20px;
}

.banner img,
.imagen,
.card img{
width:100%;
border-radius:20px;
}

.menu{
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
}

.btn,
.btn-extra,
.salir{
width:100%;
padding:15px;
border:none;
border-radius:20px;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.btn:hover,
.btn-extra:hover,
.salir:hover{
transform:scale(1.05);
}

.tienda{background:#38d6e8;}
.comunidad{background:#ff2fa0;}
.noticias{background:#caa748;}
.torneos{background:#ff1a1a;}

.video-section{
margin-top:25px;
text-align:left;
color:#ffffff;
}

.video-section h2{
margin-bottom:15px;
color:#d9ff2f;
}

.video-link{
display:inline-block;
padding:12px 18px;
border-radius:20px;
background:#67b7ff;
color:#001f3f;
font-weight:bold;
text-decoration:none;
transition:0.3s;
}

.video-link:hover{
transform:scale(1.03);
}

.video-preview{
margin-top:15px;
background:#2d0a3f;
padding:15px;
border-radius:20px;
}

.video-preview.hidden{
display:none;
}

.video-preview iframe{
width:100%;
height:200px;
border:none;
border-radius:16px;
}

.cards{
display:flex;
flex-direction:column;
gap:20px;
margin:20px 0;
}

.card{
background:#1e1e1e;
padding:10px;
border-radius:20px;
}

.video-section{
margin-top:25px;
text-align:left;
color:#ffffff;
}

.video-section h2{
margin-bottom:15px;
color:#d9ff2f;
}

.video-form{
display:flex;
flex-direction:column;
gap:12px;
}

.video-form input{
width:100%;
padding:12px;
border-radius:15px;
border:1px solid #6f3f8f;
background:#240033;
color:#ffffff;
}

.video-form input::placeholder{
color:#bbbbbb;
}

.video-preview{
margin-top:15px;
background:#2d0a3f;
padding:15px;
border-radius:20px;
min-height:180px;
}

.video-preview p{
color:#dddddd;
}

.video-preview iframe{
width:100%;
height:200px;
border:none;
border-radius:16px;
}

.card h2{
color:white;
margin-top:10px;
}

.imagen{
margin:20px 0;
}

.btn-extra{
background:#d9ff2f;
margin-bottom:15px;
}

.salir{
background:#ff4d6d;
color:white;
margin-top:20px;
}
